@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(189, 188, 219, 1) 0%,
    rgba(152, 152, 204, 1) 52%,
    rgba(179, 237, 249, 1) 100%
  );
  overflow: hidden;
}

section {
  margin: 1.5%;
  display: flex;
  justify-content: center;
}

.face {
  width: 350px;
  height: 550px;
  perspective: 700px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: 700ms;
  align-items: center;
}

.front {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.back {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.face:hover .front {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover .back {
  transform: rotateY(0);
  z-index: 1;
}

img {
  height: 160px;
  width: 240px;
  border-radius: 5px;
}

h2 {
  font-weight: 800;
  color: rgb(18, 46, 93);
}

.angry {
  font-weight: 800;
  color: rgb(237, 81, 81);
}
